/* Cadastro */

body{
    background-color: #F4F4F4;
}

.clear{
    clear: both;
}

.menu{
    float: right;
}

h1{
    text-align: center;
    font-size: 50px;
}

button.btn{
    width: 267px;
    height: 70px;
}

input.btn{
    width: 267px;
    height: 70px;   
}

a.btn{
    margin-top: 17px;
    width: 250px;
    height: 40px;
}

.logotipo{
    height: 100px;
    width: 100px;
}

img.velho{
    height: 500px;
}

h4.txtinicio{
    text-align: center;
}

/* Sobre Nós  e  Rodapé */

img.casal{
    width: 840px;
    height:560px;
}

footer.rodape{
    margin-top: 40px;
    background-color: whitesmoke;
    height: 150px;
    border: 5px solid #25D366;
}

footer{
    padding: 10px;
}
.idosos{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    background-color: whitesmoke;
}

.col{
    margin-top: 50px;
}

h5{
    text-align: center;
}
/* Contato */

h1{
    margin: 70px;
}

.texto{
    text-align: center;
}

button.btn{
    text-align: center;
}