/* Cadastro */

body{
    overflow-x: hidden;
    background-color: rgba(255, 226, 198, 0.507);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../img/idosos-home.png');
}

.clear{
    clear: both;
}

h1.titulo{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.button-cadastro{
    text-align: center;
    height: 100%;
}

button.btn{
    width: 200px;
    height: 70px;
}

input.btn{
    width: 200px;
    height: 70px;   
}

a.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    height: 40px;
    align-items: center;
}

.fazer-login{
    text-align: center;
}


.logo-body{
    margin-left: 110px;
    width: 350px;
}

h4.txtinicio{
    color: #fff;
    text-align: center;
    margin-left: 50px;
}

a.senha{
    font-size: 18px;
}
.navbar{
    border-bottom: 3px solid #fff;
}

.navbar-brand img{
    width: 150px;
}

div.logo-header{
    padding-left: 20%;
}

a{
    color: #FF7714;
}

label{
    color: #fff;
}

/* login */

.login{
    text-align: center;
}

div.login button{
    width: 500px;
    margin-top: 20px;
}

div.login input{
    width: 500px;
    margin-top: 20px;
}

a.senha{
    color: #FF7714;
}

a.senha:hover{
    color: #fff;
}

.fazer-cadasto{
    text-align: center;
}

/* Sobre Nós */

img.casal{
    width: 400px;
    border: 10px solid rgba(255, 226, 198, 0.507); 
}

.idosos{
    width: 369px;
    height: 300px;
    margin-left: 15%;
    background-color: whitesmoke;
}

div.esqueci button{
    width: 555px;
    height: 100px;
    margin-top: 20px;
}

div.esqueci input{
    width: 556px;
    height: 100px;
    margin-top: 20px;
}

.tsobre{
    text-align: center;
    padding: 30px;
    color: #fff;
}

p.title{
    color: #fff;
}

h2.name-sobre{
    color: #fff;
}

p.sub-sobre{
    color: #fff;
}

/*fotos dos desenvolvedores/Logo instagram */

.fa-brands{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.fa-brands:hover{
    font-size: 30px;
    color: rebeccapurple;
}

img.ash{
    width: 203px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

img.lincoln{
    width: 150px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

img.maria{
    width: 150px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

h5.text{
    color: #fff;
    text-align: center;
}

h5.direitos{
    color: #fff;
    margin-top: 15px;
}

section.nos{
    margin-top: 100px;
}

.col{
    margin-top: 25px;
}

h5{
    color: #fff;
    text-align: center;
    padding-right: 30px;
}
/* Contato */

h1{
    color: #fff;
    margin: 70px;
}

.texto{
    text-align: center;
}

div.ctt{
    text-align: center;
}

button.btn{
    text-align: center;
}

div.ctt button{
    width: 500px;
    margin-top: 20px;
}

div.ctt input{
    width: 500px;
    margin-top: 20px;
}

h3.titulo{
    color: #fff;
    text-align: center;
}

/* Footer */

footer {
    padding: 10px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: rgba(255, 226, 198, 0.507);
    width: 100%;
    height: 100%;
}

p.text-footer{
    color: #fff;
}

/* Scroll */

::-webkit-scrollbar{
    width: 0.7em;
    height: 0.5em;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 119, 20, .6);
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent ;
}