/* Cadastro */

body{
    overflow-x: hidden;
    background-color: rgba(255, 226, 198, 0.507);
}

.clear{
    clear: both;
}

h1.titulo{
    text-align: center;
    font-size: 50px;
}

button.btn{
    width: 267px;
    height: 70px;
}

input.btn{
    width: 267px;
    height: 70px;   
}

a.btn{
    margin-top: 20px;
    width: 270px;
    height: 40px;
}

img.logotipo{
    height: 100px;
    width: 100px;
}

img.velhologo{
    height: 500px;
    margin-left: 50px;
}

h4.txtinicio{
    text-align: center;
    margin-left: 50px;
}

a.senha{
    font-size: 18px;
}

/* Sobre Nós  e  Rodapé */

img.casal{
    width: 600px;
    border: 10px solid rgba(255, 226, 198, 0.507); 
}

.rodape{
    margin-top: 500px;
    background-color: rgba(255, 226, 198, 0.507);
    height: 150px;
    border: 5px solid #32cd74;
}


.idosos{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    background-color: whitesmoke;
}

div.esqueci button{
    width: 555px;
    height: 100px;
    margin-top: 20px;
}

div.esqueci input{
    width: 556px;
    height: 100px;
    margin-top: 20px;
}

.tsobre{
    text-align: center;
    padding: 30px;
}

/* login */

div.login button{
    width: 545px;
    margin-top: 20px;
}

div.login input{
    width: 545px;
    margin-top: 20px;
}
/*fotos dos desenvolvedores/Logo instagram */

.fa-brands{
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.fa-brands:hover{
    font-size: 30px;
    color: rebeccapurple;
}

img.ash{
    width: 203px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

img.lincoln{
    width: 150px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

img.maria{
    width: 150px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

h5.text{
    text-align: center;
}

h5.direitos{
    margin-top: 15px;
}

section.nos{
    margin-top: 100px;
}

.col{
    margin-top: 25px;
}

h5{
    text-align: center;
    padding-right: 30px;
}
/* Contato */

h1{
    margin: 70px;
}

.texto{
    text-align: center;
}

button.btn{
    text-align: center;
}

div.ctt button{
    width: 555px;
    margin-top: 20px;
}

div.ctt input{
    width: 556px;
    margin-top: 20px;
}