/* Cadastro */

body{
    overflow-x: hidden;
    background-color: rgba(255, 226, 198, 0.507);
    background-image: url('../img/idosos-home.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.clear{
    clear: both;
}

h1.titulo{
    color: #fff;
    text-align: center;
    font-size: 50px;
}

button.btn{
    width: 267px;
    height: 70px;
}

input.btn{
    width: 267px;
    height: 70px;   
}

a.btn{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    height: 40px;
}

img.velhologo{
    height: 500px;
    margin-left: 50px;
}

h4.txtinicio{
    color: #fff;
    text-align: center;
    margin-left: 50px;
}

a.senha{
    font-size: 18px;
}
.navbar{
    border-bottom: 3px solid #fff;
}

.navbar-brand img{
    width: 150px;
}

div.logo-header{
    padding-left: 20%;
}

a{
    color: #FF7714;
}

label{
    color: #fff;
}

/* Scroll */

::-webkit-scrollbar{
    width: 0.7em;
    height: 0.5em;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 119, 20, .2);
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent ;
}


/* Footer */

.footer{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 226, 198, 0.507);
    padding: 10px;
}

.footer-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-info{
    margin-left: 25%;
    padding: 20px;
}

/* Sobre Nós */

img.casal{
    width: 600px;
    border: 10px solid rgba(255, 226, 198, 0.507); 
}

.idosos{
    width: 300px;
    height: 300px;
    margin-left: 15%;
    background-color: whitesmoke;
}

div.esqueci button{
    width: 555px;
    height: 100px;
    margin-top: 20px;
}

div.esqueci input{
    width: 556px;
    height: 100px;
    margin-top: 20px;
}

.tsobre{
    text-align: center;
    padding: 30px;
}

/* login */

div.login button{
    width: 545px;
    margin-top: 20px;
}

div.login input{
    width: 545px;
    margin-top: 20px;
}

a.senha{
    color: #FF7714;
}

a.senha:hover{
    color: #fff;
}

/*fotos dos desenvolvedores/Logo instagram */



.fa-brands{
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.fa-brands:hover{
    font-size: 30px;
    color: rebeccapurple;
}

img.ash{
    width: 203px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

img.lincoln{
    width: 150px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

img.maria{
    width: 150px;
    border: 10px solid rgba(255, 226, 198, 0.507);
}

h5.text{
    color: #fff;
    text-align: center;
}

h5.direitos{
    color: #fff;
    margin-top: 15px;
}

section.nos{
    margin-top: 100px;
}

.col{
    margin-top: 25px;
}

h5{
    color: #fff;
    text-align: center;
    padding-right: 30px;
}
/* Contato */

h1{
    color: #fff;
    margin: 70px;
}

.texto{
    text-align: center;
}

button.btn{
    text-align: center;
}

div.ctt button{
    width: 555px;
    margin-top: 20px;
}

div.ctt input{
    width: 556px;
    margin-top: 20px;
}

/* reponsividade do footer */

@media screen and (max-width: 900px){
    .footer-container{
        flex-direction: column;
    }
}